@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

body {
    font-family: "Playwrite DE Grund", sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-style: italic;
}

.header h1 {
    font-size: 28px;
    margin: 0;
}

.container {
    background: #f5f5f5;
    display: flex;
    width: 100%;
    height: 100%;
}

.input-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to left, #e0f2ff, #bedfef);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="file"] {
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid #747474;
}

input[type=file]::file-selector-button {
    font-family: "Playwrite DE Grund", sans-serif;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

input[type=file]::file-selector-button:hover {
    background-color: #b1b1b1;
}

select {
    width: 100%;
    margin-bottom: 5px; 
    margin-top: 5px;   
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #0095ff;
    color: #fff;
    font-size: 16px;
    font-family: "Playwrite DE Grund", sans-serif;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover {
    background-color: #007bff;
}

button:disabled {
    opacity: 0.5; /* Reduce opacity when button is disabled */
    cursor: not-allowed; /* Change cursor to not-allowed */
}

button:focus {
    outline: 2px solid #007bff;
}

.results-container {
    flex: 3; /* 75% of the container width */
    padding: 20px;
    background: linear-gradient(to right, #e0f2ff, #c2dfee);
}

.image-preview {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}  

.results-container .results,
.results-container .image-preview {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.results-container .results {
    overflow-y: auto;
    height: calc(25% - 3%); 
}

.results-container .image-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;        
    text-align: center;
    margin-bottom: 20px;
    height: calc(75% - 22%); 
}

.results ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.results li:hover {
    background-color: #eee;
}

.results li .label {
    font-weight: bold;
}

.results li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.image-preview img {
    max-width: calc(75% - 17px);
    max-height: calc(75% - 17px);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styled Input */
.styled-input {
    font-family: "Playwrite DE Grund", sans-serif;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #747474;
    border-radius: 4px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s ease;
}

.styled-input:focus {
    border-color: #007bff;
    outline: none;
}

.styled-input:hover {
    border-color: #0056b3;
}

.creation-form {
    padding: 25px;
}