body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.input-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f3f3f3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="file"] {
    margin-bottom: 10px;
    margin-top: 5px;
}

select {
    width: 100%;
    margin-bottom: 5px; 
    margin-top: 5px;   
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    opacity: 0.5; /* Reduce opacity when button is disabled */
    cursor: not-allowed; /* Change cursor to not-allowed */
}

.results-container {
    flex: 3; /* 75% of the container width */
    padding: 20px;
    background: #f8f9fa;
}

.results-container .results,
.results-container .image-preview {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.results-container .results {
    overflow-y: auto;
    height: calc(25% - 3%); 
}

.results-container .image-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;        
    text-align: center;
    margin-bottom: 20px;
    height: calc(75% - 22%); 
}

.results ul {
    list-style-type: none;
    padding: 0;
}

.results li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.image-preview img {
    max-width: calc(75% - 17px);
    max-height: calc(75% - 17px);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styled Input */
.styled-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s ease;
}

.styled-input:focus {
    border-color: #007bff;
    outline: none;
}

